@media (max-width: 760px) {
  .imgAdoptar {
    max-width: 400px;
    max-height: 300px;
  }
  .mainInicio .imgVeterinario {
    display: none;
  }
  .carousel-inner .carousel-item img {
    width: 100%;
    height: auto;
  }
  /*grid*/
  .header-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center;
  }
  .logo {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .boton {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .mainAdoptar {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  .mainAdoptar h1 {
    font-size: 30px;
    text-align: center;
    grid-column: 2;
  }
  .mainAdoptar p {
    font-size: 1rem;
    text-align: justify;
    grid-column: 3;
  }
  .container {
    width: 90%;
    margin: 0 auto;
  }
  .header-container {
    margin-bottom: auto;
  }
  .imagenesAdoptar {
    display: flex;
  }
  .img1 {
    display: none;
  }
  .img2 {
    display: none;
  }
  .img3 {
    display: none;
  }
  .imagenesAdoptar .img4 {
    width: 80px;
    height: 80px;
  }
  .imagenesAdoptar .img5 {
    width: 80px;
    height: 80px;
  }
  .imagenesAdoptar .img6 {
    width: 80px;
    height: 80px;
  }
  .imagenesAdoptar .img7 {
    width: 80px;
    height: 80px;
  }
  .texto4 {
    grid-column: 5;
  }
}
.cuerpo img {
  width: 150px;
  height: 140px;
}

.cuerpo {
  background-image: url(../img/fondo.jpg);
}

main {
  margin-top: 50px;
}

footer {
  margin-top: 50px;
}

.carousel-item img {
  height: 350px;
}

.footer {
  background-color: rgb(247, 237, 237);
}

.buttons {
  min-width: 300px;
  display: flex;
  justify-content: space-around;
  grid-column: 2/3;
}

.buttons a {
  text-decoration: none;
  font-size: 28px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #9605be;
  color: #f1f1f1;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
}

.mainAdoptar img {
  width: 287px;
}

.mainAdoptar img {
  height: 500px;
  width: 900px;
}

.mainDonar img {
  height: 400px;
  width: 400px;
}

.mainInicio {
  display: flex;
}

.mainInicio .imgVeterinario {
  width: 400px;
  height: 400px;
}

footer a {
  color: black;
}

footer {
  background-image: linear-gradient(to top, rgb(226, 43, 226), transparent);
}

header {
  background-image: linear-gradient(to bottom, rgb(226, 43, 226), transparent);
}

a {
  text-decoration: none;
}

.boton {
  width: 100px;
  height: 70px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black;
  color: black;
  font-weight: bold;
  background-color: transparent;
  margin: 10px 0;
  display: inline-block;
  transition: 0.3s;
}

.boton:hover {
  transform: scale(1.1);
  letter-spacing: 2px;
  background-color: black;
  color: white;
}

.boton {
  float: right;
}

.mainAdoptar h1 {
  margin-top: 50px;
}

.mainAdoptar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.imagenesAdoptar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.imagenesAdoptar img {
  height: 190px;
  width: 190px;
}

.img1 {
  grid-column: 1;
}

.img2 {
  grid-column: 2;
}

.img3 {
  grid-column: 3;
}

.img4 {
  grid-column: 4;
}

.img5 {
  grid-column: 5;
}

.img6 {
  grid-column: 6;
}

.img7 {
  grid-column: 7;
}

.footer {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 20px;
  align-items: center;
  justify-content: space-between;
  background-color: #ccc;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.redes {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.redes a {
  color: black;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
