@media (max-width: 760px){
    .imgAdoptar{
        max-width: 400px;
        max-height: 300px;
    }
    .mainInicio .imgVeterinario{
    display: none;
  }
  .mainInicio{
 background-image: url(../img/patitasRosas.png);
    }
    }